<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <b>TECH BLOG</b>
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="/dashboard" class="nav-link px-2 link-secondary">Dashboard</a></li>
                </ul>

                <div class="col-md-3">
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                        {{#if logged_in}}
                        <li><a href="/" id="logout" class="nav-link px-2 link-secondary">Log Out</a></li>
                        {{else}}
                        <li><a href="/login" class="nav-link px-2 link-secondary">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </header>
        </div>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    
    <footer>
        
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>