<div class="col">
    <link rel="stylesheet" href="./css/style.css">
    <div class="row mb-4 justify-content-center">
        <h1 style="padding: 0; width:fit-content;">
            Dashboard
        </h1>
    </div>
    <!-- Loop over each object in the posts array -->
    {{#if posts}}
    {{#each posts as |post|}}
    <div class="row mb-4 justify-content-center">
        {{> postprev}}
    </div>
    {{/each}}
    {{else}}
    <div class="row mb-4 justify-content-center">
        <p style="padding: 0; width:fit-content;">
            No Posts
        </p>
    </div>
    {{/if}}
    <div class="row mb-4 justify-content-center">
        <a href="/post/new" class="col-md-8 btn">New post</a>
    </div>
</div>