<div class="col">
    <!-- Loop over each object in the posts array -->
    {{#each posts as |post| }}
    <div class="row mb-4 justify-content-center">
        {{> postprev}}
    </div>
    {{/each}}
</div>