<div class="w-100 m-auto text-center form-resize">
    <link rel="stylesheet" href="./css/style.css">
    <form id="form-login">
        <h1 class="h3 mb-3 fw-normal">Log in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
            <label for="email-input">Email address</label>
        </div>
        
        <div class="form-floating">
            <input type="password" class="form-control" id="password-input" placeholder="Password">
            <label for="password-input">Password</label>
        </div>

        <br>

        <button class="w-100 btn btn-lg  " type="submit">Log in</button>
        Dont have an account? sign up <a href="/signup">here</a>
    </form>
</div>
<div id="alert-box">
</div>

<script src="./js/login.js"></script>