<div class="col">
    <div class="row mb-4 justify-content-center">
        <h1 style="padding: 0; width:fit-content;">
            New Comment
        </h1>
    </div>

    <div class="row mb-4 justify-content-center">
        <form class="col-8" id="form-new-comment">
            <div class="w-100 mb-3" style="padding: 0;">
                <label for="body-input" class="form-label">Body</label>
                <textarea class="form-control" id="body-input" rows="3"></textarea>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Comment</button>
        </form>
    </div>
</div>

<script src="../../js/newcomment.js"></script>