<link rel="stylesheet" href="./../css/style.css">
<div class="col">
    <div class="row mb-4 justify-content-center">
        <h1 style="padding: 0; width:fit-content;">
            New Post
        </h1>
    </div>

    <div class="row mb-4 justify-content-center">
        <form class="col-8" id="form-new-post">
            <div class="w-100 mb-3" style="padding: 0;">
                <label for="title-input" class="form-label">Title</label>
                <input type="text" class="form-control" id="title-input">
            </div>
                <div class="w-100 mb-3" style="padding: 0;">
                <label for="body-input" class="form-label">Body</label>
                <textarea class="form-control" id="body-input" rows="3"></textarea>
            </div>
            <button class="w-100 btn btn-lg  " type="submit">post</button>
        </form>
    </div>
</div>

<script src="../../js/newpost.js"></script>