<div class="w-100 m-auto text-center form-resize">
    <form id="form-signup">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="name-input" placeholder="name@example.com">
            <label for="name-input">Full Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
            <label for="email-input">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password-input" placeholder="Password">
            <label for="password-input">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirm-password-input" placeholder="Password">
            <label for="confirm-password-input">Confirm Password</label>
        </div>

        <br>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        Already have an account? Login <a href="/login">here</a>
    </form>
</div>
<div id="alert-box">
</div>

<script src="./js/signup.js"></script>