* {
    font-family: 'Courier New', Courier, monospace;
}

header {

}

a {
    font-weight: bold!important;
    color: mediumseagreen!important;
}

a:hover {
    color: darkseagreen!important;
}

.btn {
    background-color: mediumseagreen!important;
    border: 1px black solid!important;
    color: black!important;
    font-weight: normal!important;
}

.btn:hover {
    background-color: darkseagreen!important;
}

.btn-danger {
    background-color: salmon!important;
}

.btn-danger:hover {
    background-color: darksalmon!important;
}

.alert {
    opacity: 0;
    margin: 2px;
}

#alert-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-resize {
    max-width: 400px;
    padding: 15px;
}

input, textarea {
    border: 1px black solid!important;
}

.m-auto {
    margin: auto!important;
}

.w-100 {
    width: 100%!important;
}

.card {
    border: 2px black solid!important;
    box-shadow: 4px 4px black!important;
}